<h3>Registros de entradas</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let entrada of listaEntradas; let i = index" (click)="paginaDetalleEntrada(entrada)"
  [ngClass]="entrada.estado == 'Sin Posible Covid-19' ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-danger'"
  >

    <div class="row d-flex justify-content-between">
      <div class="text-left">{{i+1}}. Personas:{{entrada.cantidadPersonas}} </div>
      <div class="text-right">{{formatearFecha(entrada.fechaHora)}}</div>
    </div>

  </li>
</ul>