<div class="card">
    <div class="card-body">
        <h5 class="card-title">Cantidad de personas</h5>

        <h5 class="card-title text-center">{{cantidadPersonas}}</h5>

        <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">1</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">2</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">3</button>
                </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">4</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">5</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">6</button>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">7</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">8</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">9</button>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="limpiarContador()" class="btn btn-raised btn-primary btn-sm font-weight-bold">X</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="setCantidadPersonas($event)" class="btn btn-raised btn-primary btn-sm font-weight-bold">0</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <button #btn type="button" (click)="siguientePagina()" class="btn btn-raised btn-primary btn-sm font-weight-bold">OK</button>
                </div>
            </div>
          </div>

    </div>
  </div>